{% extends 'master.html' %}

{% block content %}
  <!-- search form -->
  <form class = "form-horizontal" role = "form" method = "POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
      <div class="col-md-6">{{ field }}{{ field.errors }}</div>
      <div class="col-md-3"><button type="submit" class="btn btn-default">Search</button>&nbsp;</div>
    </div>
    {% endfor %}
    <!--<div class="col-md-12 text-center">
      
    </div>-->
  </form>
  {{ form.non_field_errors }}
  <!-- search result -->
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% if result|length > 0 %}
  <table class="table table-bordered table-hover">
    <tr>
      <th class="text-center col-sm-2">Blood group</th>
      <th class="text-center">Name</th>
      <th class="text-center">Phone number</th>
    </tr>
    {% for individual in result %}
    <tr>
      <td class="text-center">{{ individual.bloodgroup.name }}</td>
      <td>{{ individual.name }}</td>
      <td>{{ individual.phone_number }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="row">
    <div class="col-md-6 text-left">
      <ul class="pagination" style="margin: 0;">
        {% if has_previous == True %}
        <li><a href="?page={{ previous_page }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for page in page_range %}
        {% if page == current_page %}
        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
        {% else %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
        {% if has_next == True %}
        <li><a href="?page={{ next_page }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col-md-6 text-right">Showing page {{ current_page }} of total {{ total_pages }} pages</div>
  </div>
  {% else %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <strong>Warning!</strong> No records found.
  </div>
  {% endif %}

{% endblock %}
